<div class="n-widget__content">
  <div class="n-widget__title">
    <div class="n-widget__row n-widget__row--valign-center n-widget__row--nowrap">
      <div class="n-widget__col">
        <h4 class="n-widget__title-heading">Guided Problem Solving</h4>
      </div>

      <div class="n-widget__col n-widget__col-icon">
        <svg class="n-icon-arrows n-icon n-icon--default n-widget__icon-move" aria-labelledby="title">
          <title>arrows</title>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#autosupport"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="n-type-ahead js-object-type-ahead">
    <div class="n-type-ahead__action">
      <input type="text" placeholder="Select a product..." class="n-type-ahead__input js-behavior-simulate-type-ahead">
      <svg class="n-icon-chevron-down n-type-ahead__input-icon" aria-labelledby="title">
        <title>chevron-down</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#chevron-down"></use>
      </svg>
    </div>

    <div class="n-type-ahead__menu">
      <ul class="n-link-list n-link-list--lg">
        <li class="n-link-list__item n-link-list__item--heading">
          Platform OS
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">ONTAP</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">Data ONTAP 7-Mode</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">E-Series / EF-Series</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">SolidFire</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">ONTAP Cloud</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">ONTAP Select</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">Transition</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">Brocade</a>
        </li>
      </ul>

      <ul class="n-link-list n-link-list--lg">
        <li class="n-link-list__item n-link-list__item--heading">
          Management Software
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">
            <mark class="n-link-list__mark">SnapDrive</mark> / SnapManager</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">SnapC
            <mark class="n-link-list__mark">enter</mark>
          </a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">Virtu
            <mark class="n-link-list__mark">alization</mark>
          </a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">OnC
            <mark class="n-link-list__mark">omman</mark>d</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">
            <mark class="n-link-list__mark">ONTAP</mark>
          </a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">
            <mark class="n-link-list__mark">Data ON</mark>TAP 7-Mode</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">
            <mark class="n-link-list__mark">ONT</mark>AP Cloud</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link js-behavior-allow-link" href="https://mysupport.netapp.com/GPS/index.html">ONT
            <mark class="n-link-list__mark">AP Select</mark>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="n-widget__heading">
    <h6>Most Popular</h6>
  </div>

  <div class="n-widget__row">
    <div class="n-widget__col n-widget__col-1-2">
      <ul class="n-link-list n-link-list--lg">
        <li class="n-link-list__item n-link-list__item--heading">
          <a class="n-link-list__link" href="#">Management Software</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">SnapDrive/SnapMirror</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">Virtual Storage Console for VMware</a>
        </li>
      </ul>

      <ul class="n-link-list n-link-list--lg">
        <li class="n-link-list__item n-link-list__item--heading">
          <a class="n-link-list__link" href="#">Protocols</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">Storage Area Network (SAN) for ONTAP</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">Common Internet File System (CIFS) Protocol for Data ONTAP 7-Mode</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">Networking</a>
        </li>
      </ul>
    </div>
    <div class="n-widget__col n-widget__col-1-2">
      <ul class="n-link-list n-link-list--lg">
        <li class="n-link-list__item n-link-list__item--heading">
          <a class="n-link-list__link" href="#">Platform OS</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">ONTAP</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">Common Internet File System (CIFS) Protocal for ONTAP</a>
        </li>
        <li class="n-link-list__item">
          <a class="n-link-list__link" href="#">ONTAP Cloud</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="n-widget__row n-widget__row--valign-center">
    <div class="n-widget__col n-widget__col-1-2">
      <a class="n-widget__link-all" href="#">All Topics
        <svg class="n-icon-arrow-circle-o-right n-icon n-icon--default" aria-labelledby="title">
          <title>arrow-circle-o-right</title>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#arrow-circle-o-right"></use>
        </svg>
      </a>
    </div>

    <div class="n-widget__col n-widget__col-1-2 n-widget__col--align-right">

    </div>
  </div>
</div>