
<dl class="n-statistic">
        <dt class="n-statistic__term">
            <a href="https://invis.io/FRC1TOETM#/246720180_Unfiltered_Systems_Table_-XL-_1394p-_Copy">425</a>
        </dt>
        <dd class="n-statistic__definition" id = "total">
            Total Systems
            <span class="n-tooltip js-behavior-toggle-tooltip">
                <span class="n-tooltip__content">
                    Reporting on 425 Total Systems
                </span>
                
            </span>
        </dd>
        <div class="right-side-icons-area" >
        <img class="messages-icon" style="" src="https://luci.netapp.com/icons/messages.svg" />
        <img  class="download-icon"style="height: 25px;
        position: relative;top:10pt;" src="https://luci.netapp.com/icons/download.svg" />
        </div>
    </dl>

<app-spog-table-grid [metaData]="response.data" [records]="detailsListArray" [error]=""></app-spog-table-grid>