<footer class="n-footer n-footer--v2">
    <div class="n-footer__top">
      <div class="n-container">
        <div class="n-footer__property-links">
          <h4 class="n-footer__property-link-list-header">More in Support</h4>
          <ul class="n-footer__property-link-list">
            <li class="n-footer__property-link-column">
              <ul class="n-footer__property-link-column-list">
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Contact Support </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Report an Issue </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Provide Feedback </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Support Alerts </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> System Change Calendar </a>
                </li>
              </ul>
            </li>
            <li class="n-footer__property-link-column">
              <ul class="n-footer__property-link-column-list">
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Training </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Support Offerings </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Support Policies </a>
                </li>
                <li class="n-footer__property-link-list-item">
                  <a href="#" class="n-footer__property-link"> Browser Policy </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="n-footer__corp-links">
          <ul class="n-footer__corp-link-list">
            <li class="n-footer__corp-link-list-header">
              <a href="#" class="n-footer__corp-link">Company</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Our Story</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">News@NetApp</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Events</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Customer Stories</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Investors</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Careers</a>
            </li>
          </ul>
          <ul class="n-footer__corp-link-list">
            <li class="n-footer__corp-link-list-header">Sales</li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">How To Buy</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Find A Partner</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">US Public Sector Contracts</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">E-Based OEM Partners</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">NetApp Capital Solutions</a>
            </li>
          </ul>
          <ul class="n-footer__corp-link-list">
            <li class="n-footer__corp-link-list-header">
              <a href="#" class="n-footer__corp-link">Legal</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Privacy &amp; Cookie Policy</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Copyright</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Trademarks</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Community Terms of Use</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Slavery and Human Trafficking Statement</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Accessibility</a>
            </li>
          </ul>
          <ul class="n-footer__corp-link-list">
            <li class="n-footer__corp-link-list-header">Resources</li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Subscriptions</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Library</a>
            </li>
            <li class="n-footer__corp-link-list-item">
              <a href="#" class="n-footer__corp-link">Site Map</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="n-footer__bottom">
      <div class="n-container">
        <div class="n-footer__bottom-left">
          <div class="n-footer__copyright"> © 2017 NetApp </div>
          <div class="n-footer__social-links">
            <ul class="n-footer__social-link-list">
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">NetApp Community</span>
                  <svg class="n-icon-comments n-footer__social-link-icon" aria-labelledby="title">
                    <title>comments</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#comments"></use>
                  </svg>
                </a>
              </li>
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">Twitter</span>
                  <svg class="n-icon-twitter n-footer__social-link-icon" aria-labelledby="title">
                    <title>twitter</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">LinkedIn</span>
                  <svg class="n-icon-linkedin n-footer__social-link-icon" aria-labelledby="title">
                    <title>linkedin</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">Facebook</span>
                  <svg class="n-icon-facebook n-footer__social-link-icon" aria-labelledby="title">
                    <title>facebook</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">YouTube</span>
                  <svg class="n-icon-youtube n-footer__social-link-icon" aria-labelledby="title">
                    <title>youtube</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="n-footer__social-link-list-item">
                <a href="#" class="n-footer__social-link">
                  <span class="n-footer__social-link-text">Slideshare</span>
                  <svg class="n-icon-slideshare n-footer__social-link-icon" aria-labelledby="title">
                    <title>slideshare</title>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#slideshare"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="n-footer__bottom-right">
          <p class="n-footer__fine-print"> Have feedback for our website?
            <a href="#">Let us know</a>
          </p>
        </div>
      </div>
    </div>
  </footer>