<div class="n-widget__row n-widget__row--valign-center">
  <div class="n-widget__col n-widget__col-1-2">
    <a class="n-widget__link-all">
      <!-- <a class="n-widget__link-all" 
    href={{linkurl}}    
    > -->
      <!-- All System Inventory "https://invis.io/FRC1TOETM#/246720180_Unfiltered_Systems_Table_-XL-_1394p-_Copy" -->{{linktext}}
      <svg class="n-icon-arrow-circle-o-right n-icon n-icon--default" aria-labelledby="title">
        <title>arrow-circle-o-right</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#arrow-circle-o-right"></use>
      </svg>
    </a>
  </div>

  <div class="n-widget__col n-widget__col-1-2 n-widget__col--align-right">

  </div>
</div>