
 
    
    <div>
    
    <div class="n-widget__heading">
            <h6>Product Type</h6>
        </div>
                   
        <dl class="n-chart">                
                <dt class="n-chart__cell js-object-inject-tooltip-parent">
                <donut-chart class="n-chart__chart" id="productchart" [chartdata]="productChartData" [chartlabels] ="productChartLabels" 
                [chartcolors]="productChartColors" [chartname]="productChartname"></donut-chart>    
                </dt>
                <dd class="n-chart__cell">
                        <dl class="n-chart__legend">
                            <dt class="n-chart__legend-label">
                                Hardware
                            </dt>
    
                            <dd class="n-chart__legend-stat-list">
                                <div class="n-chart__stat-table">
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--success"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">225</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">FAS</a>
                                            <span class="n-chart__note">(53%)</span>
                                        </li>
                                    </ul>
    
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--success n-chart__key--success-2"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">50</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">AFF</a>
                                            <span class="n-chart__note">(12%)</span>
                                        </li>
                                    </ul>
    
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--success n-chart__key--success-3"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">25</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">EF-Series</a>
                                            <span class="n-chart__note">(6%)</span>
                                        </li>
                                    </ul>
    
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--success n-chart__key--success-4"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">50</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">Other</a>
                                            <span class="n-chart__note">(12%)</span>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
    
                        <dl class="n-chart__legend">
                            <dt class="n-chart__legend-label">
                                Cloud and Software-based Systems
                            </dt>
    
                            <dd class="n-chart__legend-stat-list">
                                <div class="n-chart__stat-table">
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--info"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">25</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">Snap Manager</a>
                                            <span class="n-chart__note">(6%)</span>
                                        </li>
                                    </ul>
    
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--info n-chart__key--info-2"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">15</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">Cloud ONTAP</a>
                                            <span class="n-chart__note">(4%)</span>
                                        </li>
                                    </ul>
    
                                    <ul class="n-chart__stat-row">
                                        <li class="n-chart__stat-cell n-chart__stat-cell--key">
                                            <span class="n-chart__key n-chart__key--info n-chart__key--info-3"></span>
                                        </li>
                                        <li class="n-chart__stat-cell n-chart__stat-cell--number">
                                            <a href="#">35</a>
                                        </li>
                                        <li class="n-chart__stat-cell">
                                            <a href="#">Others</a>
                                            <span class="n-chart__note">(8%)</span>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                </dd>



        </dl>
</div>















<!-- 
    <div class="row">
      <div id="draghead" style="min-height: 40px;min-width:100%;position :relative">
          <h3>Product Type component</h3></div>      
      <div class="col-md-6">
          <div style="margin-top: 10%;float: left;">
          
         </div>

          <div style="float: left;margin-top: 5%">
            
          <div *ngFor="let lblname of productChartLabels;let i = index" style="clear: both;margin:20px;padding: 5px;" >
             
              <span style="float:left;width:20px;height: 20px;margin-right: 3px; border-radius: 50%;" 
              [ngStyle]="{'background-color': getcolor(i) }"></span>
              <div style="padding-left: 30px;">
                  <span style="float:left;margin-top:-2px; ">{{getDataValue(i)}}</span> 
                  <span style="float:left;margin-top:-2px; padding-left: 10px;">{{lblname}}</span>               
              </div>
          </div>
            
        </div>
      </div>

  </div> -->





