<div class="n-off-canvas-menu n-site-header">
  <div class="n-off-canvas-menu__menu" style="display : none">
   <div class="n-off-canvas-menu__menu-inner">
    <div class="n-off-canvas-menu__property-title">Support</div>
    <ul class="n-off-canvas-menu__property-navigation-list">
     <li class="n-property-navigation-bar__utils-list-item">
           <a href="/gchat/nss" class="n-property-navigation-bar__utils-link">
             <svg class="n-icon-comment n-property-navigation-bar__utils-link-icon" aria-labelledby="title">
               <title>comment</title>
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#comment"></use>
             </svg>
             <span class="n-property-navigation-bar__utils-link-text n-property-navigation-bar__language-selector-toggle-text">Chat </span>
           </a>
         </li>
    </ul>
    <ul class="n-off-canvas-menu__global-navigation-list">
     <li class="n-off-canvas-menu__global-navigation-list-item">
      <a href="http://www.netapp.com/us/index.aspx" class="n-off-canvas-menu__global-navigation-link">Netapp.com</a>
     </li>

     <li class="n-off-canvas-menu__global-navigation-list-item">
      <a href="http://mysupport.netapp.com/" class="n-off-canvas-menu__global-navigation-link">Support</a>
     </li>

     <li class="n-off-canvas-menu__global-navigation-list-item">
      <a href="http://community.netapp.com/" class="n-off-canvas-menu__global-navigation-link">Community</a>
     </li>

     <li class="n-off-canvas-menu__global-navigation-list-item">
      <a href="http://www.netapp.com/us/services-support/university/index.aspx" class="n-off-canvas-menu__global-navigation-link">Training</a>
     </li>

     <li class="n-off-canvas-menu__global-navigation-list-item">
      <a href="http://www.netapp.com/us/services-support/ngs-contacts.aspx" class="n-off-canvas-menu__global-navigation-link">Contact</a>
     </li>
    </ul>
   </div>
  </div>
  <div class="n-off-canvas-menu__content-wrap">
   <div class="n-top-hat">
    <div class="n-container">
     <div class="n-top-hat__cross-property-nav">
      <ul class="n-top-hat__list">
       <li class="n-top-hat__list-item">
        <a href="http://www.netapp.com/us/index.aspx" class="n-top-hat__link">NetApp.com</a>
       </li>

       <li class="n-top-hat__list-item">
        <a href="http://mysupport.netapp.com/" class="n-top-hat__link">Support</a>
       </li>

       <li class="n-top-hat__list-item">
        <a href="http://community.netapp.com/" class="n-top-hat__link">Community</a>
       </li>

       <li class="n-top-hat__list-item">
        <a href="http://www.netapp.com/us/services-support/university/index.aspx" class="n-top-hat__link">Training</a>
       </li>
      </ul>
     </div>
     <div class="n-top-hat__utils">
      <ul class="n-top-hat__list">
        <li class="n-top-hat__list-item n-top-hat__profile-list-item">
          <a href="#" class="n-top-hat__link n-top-hat__profile-link">
            <svg class="n-icon-user n-icon n-top-hat__user-icon" aria-labelledby="title">
              <title>user</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#user"></use>
            </svg>
            <span class="n-top-hat__link-text">{{fullName}}</span>
            <svg class="n-icon-chevron-down n-icon n-top-hat__menu-indicator" aria-labelledby="title">
              <title>chevron-down</title>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="n-top-hat__profile-menu">
            <ul class="n-top-hat__profile-menu-list">
              <li class="n-top-hat__profile-menu-list-item">
                <span class="n-top-hat__profile-menu-list-label" href="#">Data Solutions, Inc.</span>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Profile</a>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Bookmarks</a>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Saved Searches</a>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Queries</a>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Email Subscriptions</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="n-top-hat__list-item">
          <a href="#" class="n-top-hat__link">Sign-Out</a>
        </li>
        <li class="n-top-hat__list-item">
          <a href="#" class="n-top-hat__link">Contact Us</a>
        </li>
      </ul>
    </div>
    </div>
   </div>
   <div class="n-property-bar n-property-bar--v2">
    <div class="n-property-bar__inner-wrap">
     <div class="n-property-bar__menu-toggle">
      <a href="#" class="n-property-bar__menu-toggle-link">
       <span class="n-property-bar__menu-toggle-text">Menu</span><svg class="n-icon-bars n-property-bar__menu-toggle-icon" aria-labelledby="title">
        <title>bars</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#bars"></use>
       </svg></a>
     </div>
     <div class="n-property-bar__property-mark n-property-bar__property-mark--has-property-name">
      <a class="n-property-bar__property-link" href="/">
       <div class="n-property-bar__logo">
        <svg class="n-icon-netapp-mark n-property-bar__netapp-mark-icon" aria-labelledby="title">
         <title>netapp-mark</title>
         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#netapp-mark"></use>
        </svg>

        <svg viewBox="0 0 1008 181.537" class="n-property-bar__logo-svg" aria-labelledby="title">
         <title>NetApp</title>
         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#netapp-logo"></use>
        </svg>
       </div>
       <h2 class="n-property-bar__property-name">Support</h2></a>
     </div>
     <div class="n-property-bar__search searchSec">
         <form class="n-search-form">
          <app-search-bar></app-search-bar>
         </form>
       </div>
     <div class="n-property-bar__narrow-actions">
      <ul class="n-property-bar__narrow-actions-list">
       <li class="n-property-bar__narrow-actions-list-item">
        <div class="n-property-bar__narrow-actions-dropdown js-object-property-nav-dropdown">
          <button class="button button--clean n-property-bar__narrow-actions-dropdown-button js-behavior-toggle-property-nav-dropdown" href="#">
            <svg class="n-icon-user n-icon n-icon--default">
              <title>user</title>
              <use xlink:href="assets/svg/sprite.svg#user" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
            <svg class="n-icon-chevron-down n-icon n-icon--medium n-property-bar__narrow-actions-dropdown-indicator">
              <title>chevron-down</title>
              <use xlink:href="assets/svg/sprite.svg#chevron-down" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </button>

          <div class="n-property-bar__narrow-actions-dropdown-menu">
            <ul class="n-top-hat__profile-menu-list">
              <li class="n-top-hat__profile-menu-list-item">
                <span class="n-top-hat__profile-menu-list-label" href="#">Data Solutions, Inc.</span>
              </li>
              <li class="n-top-hat__profile-menu-list-item">
                <a class="n-top-hat__profile-menu-list-link" href="#">Profile</a>
              </li>
              <li  class="n-top-hat__profile-menu-list-item">
                <a  class="n-top-hat__profile-menu-list-link" href="#">Bookmarks</a>
              </li>
              <li  class="n-top-hat__profile-menu-list-item">
                <a  class="n-top-hat__profile-menu-list-link" href="#">Saved Searches</a>
              </li>
              <li  class="n-top-hat__profile-menu-list-item">
                <a  class="n-top-hat__profile-menu-list-link" href="#">Queries</a>
              </li>
              <li  class="n-top-hat__profile-menu-list-item">
                <a  class="n-top-hat__profile-menu-list-link" href="#">Email Subscriptions</a>
              </li>
            </ul>
          </div>
        </div>
       </li>

       <li class="n-property-bar__narrow-actions-list-item">
        <a href="#" class="n-property-bar__narrow-actions-link n-property-bar__narrow-search-toggle">
         <svg class="n-icon-search n-property-bar__narrow-actions-search-icon" aria-labelledby="title">
          <title>search</title>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/svg/sprite.svg#search"></use>
         </svg></a>
       </li>
      </ul>
     </div>
     <div class="n-property-bar__narrow-action-search-form">
         <form class="n-search-form">
          <app-search-bar></app-search-bar>
         </form>
       </div>
    </div>
   </div>
   
   <app-navigation></app-navigation>
  </div>
 </div>