.wrapper{
	padding:0 30px;
	position:relative;
}
.table-bordered {
    border: 0px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0px;
    /* display: table; */
}
.table-bordered>thead>tr>th {}
.table>thead>tr>th {
    vertical-align: bottom;
	background: #53565a;
    color: white;
}

.table>thead>tr>th {
    vertical-align: bottom;
	background: #53565a;
    color: white;
}
.table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
.table>thead.subheader>tr>th {
	background: #d0d1ce;
	padding: 8px 0;
	line-height: 1;
	/* width: 80%; */
}
.table>thead.subheader>tr>th input{
	padding: 4px 5px;
	width: 80%;
}
.table>tbody>tr>td button{
	padding:0px;
	padding-left: 10px;
	background:#0067c5;
	color:white;
	border:none;
	border-radius:3px;
	width: 90%;
	position: relative;
}
.table>tbody>tr>td label{
	padding: 10px 0;
	color: white;
	/* float: left; */
	display: table-cell;
	text-align: left;
}
.table>tbody>tr>td span{
	padding: 10px 0;
	color: white;
	position: absolute;
	z-index: 100;
	right: 10px;
	top: 0px;
	padding-left: 8px;
	display: inline;
	border-left:1px solid white;
}
.table>tbody>tr>td{
	font-size:13px;
	text-align:center;
	padding: 12px 0;
	border-bottom: 1px solid #e0e0e0;
}
.table>tbody>tr>td a{
	color:#0566be;
	text-decoration:none;
}
.add-icon{
	height:auto;
	padding: 10px 12px;
	border:2px solid black;
	position:absolute;
	right: -35px;
	top: 4px;
	color:#0067c5;
	background:white !important;
	}
	.dropbtn {

    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    right: -37px;
    top: 42px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	    border: 1px solid #ccc;
    /* border: 1px solid rgba(0,0,0,.15); */
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        height: 350px;
}

.dropdown-content a {
    color: black;
    padding: 0px 21px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
@media only screen and (max-width : 992px) {
.table-responsive {
    display: block;
    /* width: 992px; */
    margin-bottom: 15px;
    min-height: .01%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 992px;
    max-width: 992px;
    margin-bottom: 0px;
    border-spacing: 0px;
    /* display: table; */
}
}

.input-checkbox{
    height: 24px;
    width: 22px;
    position: relative;
    top: 8px;
}

.search-results {
    height: 100%;
    position: relative;
    bottom: 64pt;
     /* overflow: scroll; */
  }
  .title {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    color: white;
    width: 100%;
  }
  .modal.modal-open {
    display: block;
  }
  
  .modal-body {
    max-height: 200px;
    overflow: auto;
  }
  
  .search-results.modal-open {
    display: none;
  }
  .title small {
    color: #eaeaea;
  }

  virtual-scroll {
    display: block;
    width: 100%;
    height: 500px;
  }
  .n-compact-data-table-container{
      overflow-x: hidden;
  }
tr th{
    font-size: 10pt;
}

 .dropdown-contents {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    right: 11px;
}

.dropdown-contents li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-contents li:hover {background-color: #f1f1f1}

.dropdowns:active .dropdown-contents {
    display: block;
    padding: 8px;
}


/* checkbox */
.checkbox {
    /* margin: 1px auto;
    position: relative;
    display: block;
    width: 100px; */
    margin-left: 3px;
}


.helper {
    position: absolute;
    top: 0px;
    left: 5px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}
.helper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #7bbe72;
}
.helper:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #7bbe72;
    border-left: 2px solid #7bbe72;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
}
input[type="checkbox"]:checked ~ .helper::before {
    color: #7bbe72;
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 24px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
} 
/* end checkbox */